body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#face-container {
  position: relative;
  width: 500px;
  height: 500px;
}
